$width-desctop: 1200;
$max-width: 1440px;

$box-shadow: 0px 20px 60px 0px #3145f41a;

$text-weight-bold: 600;
$text-weight-button: 700;
$text-weight-normal: 400;

$text-height-main: 30px;

$text-color-blue: #1968fc;
$text-color-blue2: #1967fa;
$text-color-black: #000000;
$text-color-black2: #11223f;
$text-color-white: #ffffff;

$color-blue1: #1968fc;
$color-white: #ffffff;
$color-white2: #f3f7ff;
$color-white3: #fbfbfb;
$color-white4: #f0f4fb;

$pading: 20;
