.page-footer {
  padding: 40px $pading * 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background: $color-white3;

  &-logo {
    background: $color-white4;

    &_description {
      font-size: 1.4rem;
      line-height: 20px;
      font-weight: $text-weight-bold;
      color: $text-color-blue;
    }
  }

  &-contacts__list {
    display: none;

    @include to-desctop {
      display: flex;
    }

    a {
      display: block;
      padding: 10px;
      min-width: 120px;
      font-size: 1.4rem;
      line-height: 20px;
      font-weight: $text-weight-bold;
      color: $text-color-black;
      text-align: center;
    }
  }

  &-social {
    display: flex;
    gap: 30px;
  }

  &-img {
    width: 55px;
    position: relative;
    bottom: -40px;
    box-shadow: 2px 6px 12px 0px #ff83334d;
  }
}
